.user {
  &__header {
    display: flex;
    align-items: center;
    margin: 0;
  }
  &__avatar {
    border-radius: 100%;
  }
  &__person {
    margin-left: 8px;
  }
  &__list {
    text-align: left;
  }
}
