:root {
  --bgColorPrimary: #{$indigo};
  --bgColorSecondary: #{$mystic};
  --colorNavLink: #{$white};
  --bgColorUserList: #{$cornflowerBlue};
  --colorUsersList: #{$governorBay};
  --colorError: #{$red};
  --colorFooter: #{$white};
  --colorUserWrapper: #{$black};
  --bgColorUserWrapper: #{$gray-0-18};
  --shadowColorUserWrapper: #{$codeGray};
  --shadowColorUSerWrapperHover: #{$blue};
  --bgColorFooter: #{$black};
  --colorButton: #{$white};
  --bgColorButton: #{$indigo};
  --borderColorButton: #{$anzac};
  --colorHeader: #{$white};
  --bgColorHeader: #{$black};
}

[data-theme='theme-dark'] {
  --bgColorPrimary: #{$indigo};
  --bgColorSecondary: #{$black};
  --colorNavLink: #{$white};
  --bgColorUserList: #{$white};
  --colorUsersList: #{$white};
  --colorError: #{$red};
  --bgColorFooter: #{$black};
  --colorUserWrapper: #{$white};
  --bgColorUserWrapper: #{$gray-0-18};
  --shadowColorUserWrapper: #{$codeGray};
  --shadowColorUSerWrapperHover: #{$blue};
  --bgColorFooter: #{$black};
  --colorButton: #{$white};
  --bgColorButton: #{$indigo};
  --borderColorButton: #{$anzac};
  --colorHeader: #{$white};
  --bgColorHeader: #{$black};
}
