.userWrapper {
    background-color: #8080802e;
    padding: 8px;
    margin: 16px 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #130f0f;
    width: 340px;
}

.userWrapper--link:hover {
    box-shadow: 2px 2px 4px rgb(17, 0, 255);
}

.userWrapper--link:active {
    box-shadow: none;
}

.userWrapper--map {
    height: 340px;
}