html {
  Box-sizing: border-box;
}

*, ::after, ::before {
  Box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(229, 232, 241, 1);
  background-image: radial-gradient(circle, rgba(229, 232, 241, 1) 19%, rgba(64, 98, 192, 1) 100%);
  background-attachment: fixed;
}

main {
  display: flex;
  justify-Content: center;
  flex-direction: column;
  align-items: center;
}