html {
  Box-sizing: border-box;
}

*, ::after, ::before {
  Box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  text-align: center;
  background-color: #e5e8f1;
  background-image: radial-gradient(circle, #e5e8f1 19%, #4062c0 100%);
  background-attachment: fixed;
}